.img{ 
    justify-content: center;
    padding-top: 200px;
    padding-left: 500px;
    scale: 2;
}
.image{scale: 2;}
.divs{display: block;}
.text{font-size: 40px;
color: crimson;}
.button{padding-top: 400px;
align-items: center;
justify-content: center;
padding-left: 1075px;
gap: 30px;
}
.btn{font-size: 50px;
border-radius: 50px;
padding: 10px 20px;

}
.btn:hover{
    cursor: pointer;
    color: crimson;
}
.body{max-width: 1800px;
background-image: url(./шьфпуы/Без\ названия\ \(1\).jpg);background-repeat: no-repeat; background-size:cover;
}

.h1{
    padding-left: 875px;
    padding-top: 100px;
    padding-bottom: 50px;
    max-width: 1000px;
}
.name{
    font-size: 50px;
}
.qs{display: flex;
margin-top: 300px;}